/************************
GENERAL
************************/
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    position: relative;
    height: 100%;
}

.shakespeare_page {
    max-width: 650px;
    text-align: center;
}







/************************
HEADER
************************/

.main_nav {
    background: #777;
    display: inline-block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    font-size: 1.2rem;
    width: 100%;
    height: 4.5rem;
    margin: 0;
}

.main_nav-logo {
    vertical-align: middle;
    margin-top: 1rem;
    font-size: 1rem;
    text-align: left;
    font-weight: bold;
}

.main_nav-links {
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 0.9rem;
}

.main_nav-link {
    display: inline-block;
    margin: 0;
    padding: 0 0.2rem;
    vertical-align: middle;
}

.main_nav-link a,
.footer_link a {
    text-decoration: none;
    color: black;
    padding: 2px;
}

.main_nav-link a:visited,
.footer_link a:visited {
    color: black;
}

.main_nav-link a:active,
.main_nav-link a:hover,
.footer_link a:active,
.footer_link a:hover {
    color: #777;
    background: white;
    border-radius: 5%;
}






/************************
FOOTER
************************/


.footer {
    width: 100%;
    height: 2.5rem;
    background: #777;
    margin: 0;
}

.copyright {
    float: left;
    vertical-align: middle;
    margin-top: 10px;
}

.footer_link {
    float: right;
    margin-top: 10px;
    padding: 0 5px;
}

.footer_link a {
    text-decoration: none;
}




/************************
TOP SECTION
************************/

.top_section {
    margin: 7rem auto 0 auto;
    width: 90%;
    height: 300px;
    position: relative;
}

img {
    position: absolute;
    left: 0;
    margin: auto 3rem auto 0;
    text-align: center;
}

.smallbox {
    color: white;
    background: #777;
    display: block;
    width: 40%;
    height: 8rem;
    padding: 1rem;
    position: absolute;
    right: 0;
    text-align: center;
}

.smallbox2 {
    bottom: 0;
}

.smallbox p {
    margin-top: 2rem;
}







/************************
CARDS
************************/

main {
    width: 90%;
    height: 60%;
    margin: 3rem auto 3rem auto;
  }
  
h1 {
    background: #777;
    text-align: center;
    padding: 1rem;
  }
  
  .cards {
    margin: 0 auto;
    /* width: 100%; */
    width: 585px;
  }

  .cards_list {
    background: #777;
    display: inline-block;
    width: 30%;
    height: 7rem;
    margin: 0 0.52rem 2rem 0.52rem;
    padding: 0.2rem;
    color: white;
    vertical-align: middle;
    text-align: center;
  }

  .cards_list p {
    margin-top: 2.1rem;
  }






/************************
ARTICLE SECTION
************************/


.article_wrapper {
    height: 30%;
    width: 100%;
    /* border: 2px solid black; */
    text-align: center;
    margin: auto;
}

.tablink {
    background-color: #777;
    color: white;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 0.9rem 1rem;
    font-size: 1.1rem;
    width: 25%;
    border-bottom: 1px white solid;
}

.tablink:hover {
    color: #777;
    background-color: white;
}

.articlecontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
    background: #777;
}


